<!doctype html>
<html>
  <%= partial "site_header" %>
  <body>
    <%= partial "header" %>

    <div id="container">
      <div id="main" role="main">
        <%= yield %>
      </div>
    </div>

    <%= partial "footer" %>
  </body>
</html>
