<div id="container">
  <h1>Me</h1>

  <table>
    <thead>
      <tr> 
        <th>Attribute</th>
        <th>Value</th> 
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Name</td>
        <td>Keiji Matsuzaki</td>
      </tr>
      <tr>
        <td>Birthday</td>
        <td>1981-12-13</td>
      </tr>
      <tr>
        <td>Country</td>
        <td>Japan</td> 
      </tr>
    </tbody>
  </table>
</div>
